@import '../../../styles/uhg-style';

:host {
  @include flex-fill(row);
  height: 100%;
  background-image: url("../../../../assets/pictures/homepage.jpg");
  background-size: cover;
}

.question {
  @include flex-fill(column);
  background-color: transparent;
  padding: 50px auto;

  .content {
    @include flex(row);
    margin: auto;
  }
}
