@import '../../../../styles/uhg-style';

:host {
  @include flex(row);
}

.content {
  margin: 16px;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 20px;
  padding: 16px;
  box-shadow: var(--md-sys-elevation-1);

  &.error {
    background-color: var(--md-sys-color-error-container);
  }

  .text {
    @extend .title-medium;
    color: var(--md-sys-color-on-surface);
  }

  .image {
    width: 600px;
    margin: 12px auto;
  }

  .button {
    height: 40px;
    margin: 8px auto;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: var(--md-sys-color-primary);
    width: fit-content;
    text-align: center;
    align-content: center;

    .text {
      @extend .body-large;
      color: var(--md-sys-color-on-primary);
      margin: auto 0;
    }

  }
}

