:root {
  --md-source: #6a4277;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #1e002a;
  --md-ref-palette-primary5: #220030;
  --md-ref-palette-primary6: #260035;
  --md-ref-palette-primary10: #330045;
  --md-ref-palette-primary12: #39004d;
  --md-ref-palette-primary17: #450d5a;
  --md-ref-palette-primary20: #4d1661;
  --md-ref-palette-primary22: #511b66;
  --md-ref-palette-primary24: #56206a;
  --md-ref-palette-primary25: #59236d;
  --md-ref-palette-primary30: #662f79;
  --md-ref-palette-primary35: #723b86;
  --md-ref-palette-primary40: #804893;
  --md-ref-palette-primary50: #9b60ae;
  --md-ref-palette-primary60: #b67ac9;
  --md-ref-palette-primary70: #d394e6;
  --md-ref-palette-primary80: #eeb1ff;
  --md-ref-palette-primary87: #f6ccff;
  --md-ref-palette-primary90: #f9d8ff;
  --md-ref-palette-primary92: #fcdfff;
  --md-ref-palette-primary94: #fee7ff;
  --md-ref-palette-primary95: #ffebff;
  --md-ref-palette-primary96: #ffeffe;
  --md-ref-palette-primary98: #fff7fb;
  --md-ref-palette-primary99: #fffbff;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #150a19;
  --md-ref-palette-secondary5: #180c1c;
  --md-ref-palette-secondary6: #1b0f1f;
  --md-ref-palette-secondary10: #241727;
  --md-ref-palette-secondary12: #281b2c;
  --md-ref-palette-secondary17: #332536;
  --md-ref-palette-secondary20: #3a2c3d;
  --md-ref-palette-secondary22: #3e3042;
  --md-ref-palette-secondary24: #433446;
  --md-ref-palette-secondary25: #453648;
  --md-ref-palette-secondary30: #514254;
  --md-ref-palette-secondary35: #5d4d60;
  --md-ref-palette-secondary40: #69596c;
  --md-ref-palette-secondary50: #837186;
  --md-ref-palette-secondary60: #9e8ba0;
  --md-ref-palette-secondary70: #b9a5bb;
  --md-ref-palette-secondary80: #d5c0d7;
  --md-ref-palette-secondary87: #e9d3eb;
  --md-ref-palette-secondary90: #f2dcf3;
  --md-ref-palette-secondary92: #f8e1f9;
  --md-ref-palette-secondary94: #fde7ff;
  --md-ref-palette-secondary95: #ffebff;
  --md-ref-palette-secondary96: #ffeffe;
  --md-ref-palette-secondary98: #fff7fb;
  --md-ref-palette-secondary99: #fffbff;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #190b00;
  --md-ref-palette-tertiary5: #1c0d00;
  --md-ref-palette-tertiary6: #201000;
  --md-ref-palette-tertiary10: #2b1700;
  --md-ref-palette-tertiary12: #311b00;
  --md-ref-palette-tertiary17: #3f2400;
  --md-ref-palette-tertiary20: #482900;
  --md-ref-palette-tertiary22: #4e2d00;
  --md-ref-palette-tertiary24: #543100;
  --md-ref-palette-tertiary25: #573300;
  --md-ref-palette-tertiary30: #673d00;
  --md-ref-palette-tertiary35: #774800;
  --md-ref-palette-tertiary40: #875200;
  --md-ref-palette-tertiary50: #a96800;
  --md-ref-palette-tertiary60: #c88120;
  --md-ref-palette-tertiary70: #e79b39;
  --md-ref-palette-tertiary80: #ffb866;
  --md-ref-palette-tertiary87: #ffd2a3;
  --md-ref-palette-tertiary90: #ffddba;
  --md-ref-palette-tertiary92: #ffe4c9;
  --md-ref-palette-tertiary94: #ffead8;
  --md-ref-palette-tertiary95: #ffeedf;
  --md-ref-palette-tertiary96: #fff1e6;
  --md-ref-palette-tertiary98: #fff8f4;
  --md-ref-palette-tertiary99: #fffbff;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #100d10;
  --md-ref-palette-neutral5: #131013;
  --md-ref-palette-neutral6: #151216;
  --md-ref-palette-neutral10: #1e1b1e;
  --md-ref-palette-neutral12: #221f22;
  --md-ref-palette-neutral17: #2c292c;
  --md-ref-palette-neutral20: #332f33;
  --md-ref-palette-neutral22: #373437;
  --md-ref-palette-neutral24: #3c383b;
  --md-ref-palette-neutral25: #3e3a3e;
  --md-ref-palette-neutral30: #4a4549;
  --md-ref-palette-neutral35: #565155;
  --md-ref-palette-neutral40: #625d61;
  --md-ref-palette-neutral50: #7b7579;
  --md-ref-palette-neutral60: #958f93;
  --md-ref-palette-neutral70: #b0a9ae;
  --md-ref-palette-neutral80: #ccc4c9;
  --md-ref-palette-neutral87: #e0d8dc;
  --md-ref-palette-neutral90: #e8e0e5;
  --md-ref-palette-neutral92: #eee6ea;
  --md-ref-palette-neutral94: #f4ecf0;
  --md-ref-palette-neutral95: #f7eff3;
  --md-ref-palette-neutral96: #faf1f6;
  --md-ref-palette-neutral98: #fff7fb;
  --md-ref-palette-neutral99: #fffbff;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #120c13;
  --md-ref-palette-neutral-variant5: #150f16;
  --md-ref-palette-neutral-variant6: #171118;
  --md-ref-palette-neutral-variant10: #201a21;
  --md-ref-palette-neutral-variant12: #241e25;
  --md-ref-palette-neutral-variant17: #2e282f;
  --md-ref-palette-neutral-variant20: #352e36;
  --md-ref-palette-neutral-variant22: #3a323a;
  --md-ref-palette-neutral-variant24: #3e373f;
  --md-ref-palette-neutral-variant25: #403941;
  --md-ref-palette-neutral-variant30: #4c444d;
  --md-ref-palette-neutral-variant35: #585058;
  --md-ref-palette-neutral-variant40: #645c64;
  --md-ref-palette-neutral-variant50: #7d747d;
  --md-ref-palette-neutral-variant60: #988e97;
  --md-ref-palette-neutral-variant70: #b3a8b2;
  --md-ref-palette-neutral-variant80: #cfc3cd;
  --md-ref-palette-neutral-variant87: #e3d6e1;
  --md-ref-palette-neutral-variant90: #ebdfe9;
  --md-ref-palette-neutral-variant92: #f1e5ef;
  --md-ref-palette-neutral-variant94: #f7eaf5;
  --md-ref-palette-neutral-variant95: #faedf8;
  --md-ref-palette-neutral-variant96: #fdf0fa;
  --md-ref-palette-neutral-variant98: #fff7fb;
  --md-ref-palette-neutral-variant99: #fffbff;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710006;
  --md-ref-palette-error24: #790007;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a60f13;
  --md-ref-palette-error40: #b81f1e;
  --md-ref-palette-error50: #db3a33;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #804893;
  --md-sys-color-primary-light-opacity-008: #80489314;
  --md-sys-color-primary-light-opacity-012: #8048931F;
  --md-sys-color-primary-light-opacity-016: #80489329;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-on-primary-light-opacity-008: #ffffff14;
  --md-sys-color-on-primary-light-opacity-012: #ffffff1F;
  --md-sys-color-on-primary-light-opacity-016: #ffffff29;
  --md-sys-color-primary-container-light: #f9d8ff;
  --md-sys-color-primary-container-light-opacity-008: #f9d8ff14;
  --md-sys-color-primary-container-light-opacity-012: #f9d8ff1F;
  --md-sys-color-primary-container-light-opacity-016: #f9d8ff29;
  --md-sys-color-on-primary-container-light: #330045;
  --md-sys-color-on-primary-container-light-opacity-008: #33004514;
  --md-sys-color-on-primary-container-light-opacity-012: #3300451F;
  --md-sys-color-on-primary-container-light-opacity-016: #33004529;
  --md-sys-color-primary-fixed-light: #f9d8ff;
  --md-sys-color-primary-fixed-light-opacity-008: #f9d8ff14;
  --md-sys-color-primary-fixed-light-opacity-012: #f9d8ff1F;
  --md-sys-color-primary-fixed-light-opacity-016: #f9d8ff29;
  --md-sys-color-on-primary-fixed-light: #330045;
  --md-sys-color-on-primary-fixed-light-opacity-008: #33004514;
  --md-sys-color-on-primary-fixed-light-opacity-012: #3300451F;
  --md-sys-color-on-primary-fixed-light-opacity-016: #33004529;
  --md-sys-color-primary-fixed-dim-light: #eeb1ff;
  --md-sys-color-primary-fixed-dim-light-opacity-008: #eeb1ff14;
  --md-sys-color-primary-fixed-dim-light-opacity-012: #eeb1ff1F;
  --md-sys-color-primary-fixed-dim-light-opacity-016: #eeb1ff29;
  --md-sys-color-on-primary-fixed-variant-light: #662f79;
  --md-sys-color-on-primary-fixed-variant-light-opacity-008: #662f7914;
  --md-sys-color-on-primary-fixed-variant-light-opacity-012: #662f791F;
  --md-sys-color-on-primary-fixed-variant-light-opacity-016: #662f7929;
  --md-sys-color-secondary-light: #69596c;
  --md-sys-color-secondary-light-opacity-008: #69596c14;
  --md-sys-color-secondary-light-opacity-012: #69596c1F;
  --md-sys-color-secondary-light-opacity-016: #69596c29;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-on-secondary-light-opacity-008: #ffffff14;
  --md-sys-color-on-secondary-light-opacity-012: #ffffff1F;
  --md-sys-color-on-secondary-light-opacity-016: #ffffff29;
  --md-sys-color-secondary-container-light: #f2dcf3;
  --md-sys-color-secondary-container-light-opacity-008: #f2dcf314;
  --md-sys-color-secondary-container-light-opacity-012: #f2dcf31F;
  --md-sys-color-secondary-container-light-opacity-016: #f2dcf329;
  --md-sys-color-on-secondary-container-light: #241727;
  --md-sys-color-on-secondary-container-light-opacity-008: #24172714;
  --md-sys-color-on-secondary-container-light-opacity-012: #2417271F;
  --md-sys-color-on-secondary-container-light-opacity-016: #24172729;
  --md-sys-color-secondary-fixed-light: #f2dcf3;
  --md-sys-color-secondary-fixed-light-opacity-008: #f2dcf314;
  --md-sys-color-secondary-fixed-light-opacity-012: #f2dcf31F;
  --md-sys-color-secondary-fixed-light-opacity-016: #f2dcf329;
  --md-sys-color-on-secondary-fixed-light: #241727;
  --md-sys-color-on-secondary-fixed-light-opacity-008: #24172714;
  --md-sys-color-on-secondary-fixed-light-opacity-012: #2417271F;
  --md-sys-color-on-secondary-fixed-light-opacity-016: #24172729;
  --md-sys-color-secondary-fixed-dim-light: #d5c0d7;
  --md-sys-color-secondary-fixed-dim-light-opacity-008: #d5c0d714;
  --md-sys-color-secondary-fixed-dim-light-opacity-012: #d5c0d71F;
  --md-sys-color-secondary-fixed-dim-light-opacity-016: #d5c0d729;
  --md-sys-color-on-secondary-fixed-variant-light: #514254;
  --md-sys-color-on-secondary-fixed-variant-light-opacity-008: #51425414;
  --md-sys-color-on-secondary-fixed-variant-light-opacity-012: #5142541F;
  --md-sys-color-on-secondary-fixed-variant-light-opacity-016: #51425429;
  --md-sys-color-tertiary-light: #875200;
  --md-sys-color-tertiary-light-opacity-008: #87520014;
  --md-sys-color-tertiary-light-opacity-012: #8752001F;
  --md-sys-color-tertiary-light-opacity-016: #87520029;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-on-tertiary-light-opacity-008: #ffffff14;
  --md-sys-color-on-tertiary-light-opacity-012: #ffffff1F;
  --md-sys-color-on-tertiary-light-opacity-016: #ffffff29;
  --md-sys-color-tertiary-container-light: #ffddba;
  --md-sys-color-tertiary-container-light-opacity-008: #ffddba14;
  --md-sys-color-tertiary-container-light-opacity-012: #ffddba1F;
  --md-sys-color-tertiary-container-light-opacity-016: #ffddba29;
  --md-sys-color-on-tertiary-container-light: #2b1700;
  --md-sys-color-on-tertiary-container-light-opacity-008: #2b170014;
  --md-sys-color-on-tertiary-container-light-opacity-012: #2b17001F;
  --md-sys-color-on-tertiary-container-light-opacity-016: #2b170029;
  --md-sys-color-tertiary-fixed-light: #ffddba;
  --md-sys-color-tertiary-fixed-light-opacity-008: #ffddba14;
  --md-sys-color-tertiary-fixed-light-opacity-012: #ffddba1F;
  --md-sys-color-tertiary-fixed-light-opacity-016: #ffddba29;
  --md-sys-color-on-tertiary-fixed-light: #2b1700;
  --md-sys-color-on-tertiary-fixed-light-opacity-008: #2b170014;
  --md-sys-color-on-tertiary-fixed-light-opacity-012: #2b17001F;
  --md-sys-color-on-tertiary-fixed-light-opacity-016: #2b170029;
  --md-sys-color-tertiary-fixed-dim-light: #ffb866;
  --md-sys-color-tertiary-fixed-dim-light-opacity-008: #ffb86614;
  --md-sys-color-tertiary-fixed-dim-light-opacity-012: #ffb8661F;
  --md-sys-color-tertiary-fixed-dim-light-opacity-016: #ffb86629;
  --md-sys-color-on-tertiary-fixed-variant-light: #673d00;
  --md-sys-color-on-tertiary-fixed-variant-light-opacity-008: #673d0014;
  --md-sys-color-on-tertiary-fixed-variant-light-opacity-012: #673d001F;
  --md-sys-color-on-tertiary-fixed-variant-light-opacity-016: #673d0029;
  --md-sys-color-error-light: #b81f1e;
  --md-sys-color-error-light-opacity-008: #b81f1e14;
  --md-sys-color-error-light-opacity-012: #b81f1e1F;
  --md-sys-color-error-light-opacity-016: #b81f1e29;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-error-container-light-opacity-008: #ffdad614;
  --md-sys-color-error-container-light-opacity-012: #ffdad61F;
  --md-sys-color-error-container-light-opacity-016: #ffdad629;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-on-error-light-opacity-008: #ffffff14;
  --md-sys-color-on-error-light-opacity-012: #ffffff1F;
  --md-sys-color-on-error-light-opacity-016: #ffffff29;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-on-error-container-light-opacity-008: #41000214;
  --md-sys-color-on-error-container-light-opacity-012: #4100021F;
  --md-sys-color-on-error-container-light-opacity-016: #41000229;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-background-light-opacity-008: #fffbff14;
  --md-sys-color-background-light-opacity-012: #fffbff1F;
  --md-sys-color-background-light-opacity-016: #fffbff29;
  --md-sys-color-on-background-light: #1e1b1e;
  --md-sys-color-on-background-light-opacity-008: #1e1b1e14;
  --md-sys-color-on-background-light-opacity-012: #1e1b1e1F;
  --md-sys-color-on-background-light-opacity-016: #1e1b1e29;
  --md-sys-color-outline-light: #7d747d;
  --md-sys-color-outline-light-opacity-008: #7d747d14;
  --md-sys-color-outline-light-opacity-012: #7d747d1F;
  --md-sys-color-outline-light-opacity-016: #7d747d29;
  --md-sys-color-inverse-on-surface-light: #f7eff3;
  --md-sys-color-inverse-on-surface-light-opacity-008: #f7eff314;
  --md-sys-color-inverse-on-surface-light-opacity-012: #f7eff31F;
  --md-sys-color-inverse-on-surface-light-opacity-016: #f7eff329;
  --md-sys-color-inverse-surface-light: #332f33;
  --md-sys-color-inverse-surface-light-opacity-008: #332f3314;
  --md-sys-color-inverse-surface-light-opacity-012: #332f331F;
  --md-sys-color-inverse-surface-light-opacity-016: #332f3329;
  --md-sys-color-inverse-primary-light: #eeb1ff;
  --md-sys-color-inverse-primary-light-opacity-008: #eeb1ff14;
  --md-sys-color-inverse-primary-light-opacity-012: #eeb1ff1F;
  --md-sys-color-inverse-primary-light-opacity-016: #eeb1ff29;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-shadow-light-opacity-008: #00000014;
  --md-sys-color-shadow-light-opacity-012: #0000001F;
  --md-sys-color-shadow-light-opacity-016: #00000029;
  --md-sys-color-surface-tint-light: #804893;
  --md-sys-color-surface-tint-light-opacity-008: #80489314;
  --md-sys-color-surface-tint-light-opacity-012: #8048931F;
  --md-sys-color-surface-tint-light-opacity-016: #80489329;
  --md-sys-color-outline-variant-light: #cfc3cd;
  --md-sys-color-outline-variant-light-opacity-008: #cfc3cd14;
  --md-sys-color-outline-variant-light-opacity-012: #cfc3cd1F;
  --md-sys-color-outline-variant-light-opacity-016: #cfc3cd29;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-scrim-light-opacity-008: #00000014;
  --md-sys-color-scrim-light-opacity-012: #0000001F;
  --md-sys-color-scrim-light-opacity-016: #00000029;
  --md-sys-color-surface-light: #fff7fb;
  --md-sys-color-surface-light-opacity-008: #fff7fb14;
  --md-sys-color-surface-light-opacity-012: #fff7fb1F;
  --md-sys-color-surface-light-opacity-016: #fff7fb29;
  --md-sys-color-on-surface-light: #1e1b1e;
  --md-sys-color-on-surface-light-opacity-008: #1e1b1e14;
  --md-sys-color-on-surface-light-opacity-012: #1e1b1e1F;
  --md-sys-color-on-surface-light-opacity-016: #1e1b1e29;
  --md-sys-color-surface-variant-light: #ebdfe9;
  --md-sys-color-surface-variant-light-opacity-008: #ebdfe914;
  --md-sys-color-surface-variant-light-opacity-012: #ebdfe91F;
  --md-sys-color-surface-variant-light-opacity-016: #ebdfe929;
  --md-sys-color-on-surface-variant-light: #4c444d;
  --md-sys-color-on-surface-variant-light-opacity-008: #4c444d14;
  --md-sys-color-on-surface-variant-light-opacity-012: #4c444d1F;
  --md-sys-color-on-surface-variant-light-opacity-016: #4c444d29;
  --md-sys-color-surface-container-highest-light: #e8e0e5;
  --md-sys-color-surface-container-highest-light-opacity-008: #e8e0e514;
  --md-sys-color-surface-container-highest-light-opacity-012: #e8e0e51F;
  --md-sys-color-surface-container-highest-light-opacity-016: #e8e0e529;
  --md-sys-color-surface-container-high-light: #eee6ea;
  --md-sys-color-surface-container-high-light-opacity-008: #eee6ea14;
  --md-sys-color-surface-container-high-light-opacity-012: #eee6ea1F;
  --md-sys-color-surface-container-high-light-opacity-016: #eee6ea29;
  --md-sys-color-surface-container-light: #f4ecf0;
  --md-sys-color-surface-container-light-opacity-008: #f4ecf014;
  --md-sys-color-surface-container-light-opacity-012: #f4ecf01F;
  --md-sys-color-surface-container-light-opacity-016: #f4ecf029;
  --md-sys-color-surface-container-low-light: #faf1f6;
  --md-sys-color-surface-container-low-light-opacity-008: #faf1f614;
  --md-sys-color-surface-container-low-light-opacity-012: #faf1f61F;
  --md-sys-color-surface-container-low-light-opacity-016: #faf1f629;
  --md-sys-color-surface-container-lowest-light: #ffffff;
  --md-sys-color-surface-container-lowest-light-opacity-008: #ffffff14;
  --md-sys-color-surface-container-lowest-light-opacity-012: #ffffff1F;
  --md-sys-color-surface-container-lowest-light-opacity-016: #ffffff29;
  --md-sys-color-surface-dim-light: #e0d8dc;
  --md-sys-color-surface-dim-light-opacity-008: #e0d8dc14;
  --md-sys-color-surface-dim-light-opacity-012: #e0d8dc1F;
  --md-sys-color-surface-dim-light-opacity-016: #e0d8dc29;
  --md-sys-color-surface-bright-light: #fff7fb;
  --md-sys-color-surface-bright-light-opacity-008: #fff7fb14;
  --md-sys-color-surface-bright-light-opacity-012: #fff7fb1F;
  --md-sys-color-surface-bright-light-opacity-016: #fff7fb29;
  /* dark */
  --md-sys-color-primary-dark: #eeb1ff;
  --md-sys-color-primary-dark-opacity-008: #eeb1ff14;
  --md-sys-color-primary-dark-opacity-012: #eeb1ff1F;
  --md-sys-color-primary-dark-opacity-016: #eeb1ff29;
  --md-sys-color-on-primary-dark: #4d1661;
  --md-sys-color-on-primary-dark-opacity-008: #4d166114;
  --md-sys-color-on-primary-dark-opacity-012: #4d16611F;
  --md-sys-color-on-primary-dark-opacity-016: #4d166129;
  --md-sys-color-primary-container-dark: #662f79;
  --md-sys-color-primary-container-dark-opacity-008: #662f7914;
  --md-sys-color-primary-container-dark-opacity-012: #662f791F;
  --md-sys-color-primary-container-dark-opacity-016: #662f7929;
  --md-sys-color-on-primary-container-dark: #f9d8ff;
  --md-sys-color-on-primary-container-dark-opacity-008: #f9d8ff14;
  --md-sys-color-on-primary-container-dark-opacity-012: #f9d8ff1F;
  --md-sys-color-on-primary-container-dark-opacity-016: #f9d8ff29;
  --md-sys-color-primary-fixed-dark: #f9d8ff;
  --md-sys-color-primary-fixed-dark-opacity-008: #f9d8ff14;
  --md-sys-color-primary-fixed-dark-opacity-012: #f9d8ff1F;
  --md-sys-color-primary-fixed-dark-opacity-016: #f9d8ff29;
  --md-sys-color-on-primary-fixed-dark: #330045;
  --md-sys-color-on-primary-fixed-dark-opacity-008: #33004514;
  --md-sys-color-on-primary-fixed-dark-opacity-012: #3300451F;
  --md-sys-color-on-primary-fixed-dark-opacity-016: #33004529;
  --md-sys-color-primary-fixed-dim-dark: #eeb1ff;
  --md-sys-color-primary-fixed-dim-dark-opacity-008: #eeb1ff14;
  --md-sys-color-primary-fixed-dim-dark-opacity-012: #eeb1ff1F;
  --md-sys-color-primary-fixed-dim-dark-opacity-016: #eeb1ff29;
  --md-sys-color-on-primary-fixed-variant-dark: #662f79;
  --md-sys-color-on-primary-fixed-variant-dark-opacity-008: #662f7914;
  --md-sys-color-on-primary-fixed-variant-dark-opacity-012: #662f791F;
  --md-sys-color-on-primary-fixed-variant-dark-opacity-016: #662f7929;
  --md-sys-color-secondary-dark: #d5c0d7;
  --md-sys-color-secondary-dark-opacity-008: #d5c0d714;
  --md-sys-color-secondary-dark-opacity-012: #d5c0d71F;
  --md-sys-color-secondary-dark-opacity-016: #d5c0d729;
  --md-sys-color-on-secondary-dark: #3a2c3d;
  --md-sys-color-on-secondary-dark-opacity-008: #3a2c3d14;
  --md-sys-color-on-secondary-dark-opacity-012: #3a2c3d1F;
  --md-sys-color-on-secondary-dark-opacity-016: #3a2c3d29;
  --md-sys-color-secondary-container-dark: #514254;
  --md-sys-color-secondary-container-dark-opacity-008: #51425414;
  --md-sys-color-secondary-container-dark-opacity-012: #5142541F;
  --md-sys-color-secondary-container-dark-opacity-016: #51425429;
  --md-sys-color-on-secondary-container-dark: #f2dcf3;
  --md-sys-color-on-secondary-container-dark-opacity-008: #f2dcf314;
  --md-sys-color-on-secondary-container-dark-opacity-012: #f2dcf31F;
  --md-sys-color-on-secondary-container-dark-opacity-016: #f2dcf329;
  --md-sys-color-secondary-fixed-dark: #f2dcf3;
  --md-sys-color-secondary-fixed-dark-opacity-008: #f2dcf314;
  --md-sys-color-secondary-fixed-dark-opacity-012: #f2dcf31F;
  --md-sys-color-secondary-fixed-dark-opacity-016: #f2dcf329;
  --md-sys-color-on-secondary-fixed-dark: #241727;
  --md-sys-color-on-secondary-fixed-dark-opacity-008: #24172714;
  --md-sys-color-on-secondary-fixed-dark-opacity-012: #2417271F;
  --md-sys-color-on-secondary-fixed-dark-opacity-016: #24172729;
  --md-sys-color-secondary-fixed-dim-dark: #d5c0d7;
  --md-sys-color-secondary-fixed-dim-dark-opacity-008: #d5c0d714;
  --md-sys-color-secondary-fixed-dim-dark-opacity-012: #d5c0d71F;
  --md-sys-color-secondary-fixed-dim-dark-opacity-016: #d5c0d729;
  --md-sys-color-on-secondary-fixed-variant-dark: #514254;
  --md-sys-color-on-secondary-fixed-variant-dark-opacity-008: #51425414;
  --md-sys-color-on-secondary-fixed-variant-dark-opacity-012: #5142541F;
  --md-sys-color-on-secondary-fixed-variant-dark-opacity-016: #51425429;
  --md-sys-color-tertiary-dark: #ffb866;
  --md-sys-color-tertiary-dark-opacity-008: #ffb86614;
  --md-sys-color-tertiary-dark-opacity-012: #ffb8661F;
  --md-sys-color-tertiary-dark-opacity-016: #ffb86629;
  --md-sys-color-on-tertiary-dark: #482900;
  --md-sys-color-on-tertiary-dark-opacity-008: #48290014;
  --md-sys-color-on-tertiary-dark-opacity-012: #4829001F;
  --md-sys-color-on-tertiary-dark-opacity-016: #48290029;
  --md-sys-color-tertiary-container-dark: #673d00;
  --md-sys-color-tertiary-container-dark-opacity-008: #673d0014;
  --md-sys-color-tertiary-container-dark-opacity-012: #673d001F;
  --md-sys-color-tertiary-container-dark-opacity-016: #673d0029;
  --md-sys-color-on-tertiary-container-dark: #ffddba;
  --md-sys-color-on-tertiary-container-dark-opacity-008: #ffddba14;
  --md-sys-color-on-tertiary-container-dark-opacity-012: #ffddba1F;
  --md-sys-color-on-tertiary-container-dark-opacity-016: #ffddba29;
  --md-sys-color-tertiary-fixed-dark: #ffddba;
  --md-sys-color-tertiary-fixed-dark-opacity-008: #ffddba14;
  --md-sys-color-tertiary-fixed-dark-opacity-012: #ffddba1F;
  --md-sys-color-tertiary-fixed-dark-opacity-016: #ffddba29;
  --md-sys-color-on-tertiary-fixed-dark: #2b1700;
  --md-sys-color-on-tertiary-fixed-dark-opacity-008: #2b170014;
  --md-sys-color-on-tertiary-fixed-dark-opacity-012: #2b17001F;
  --md-sys-color-on-tertiary-fixed-dark-opacity-016: #2b170029;
  --md-sys-color-tertiary-fixed-dim-dark: #ffb866;
  --md-sys-color-tertiary-fixed-dim-dark-opacity-008: #ffb86614;
  --md-sys-color-tertiary-fixed-dim-dark-opacity-012: #ffb8661F;
  --md-sys-color-tertiary-fixed-dim-dark-opacity-016: #ffb86629;
  --md-sys-color-on-tertiary-fixed-variant-dark: #673d00;
  --md-sys-color-on-tertiary-fixed-variant-dark-opacity-008: #673d0014;
  --md-sys-color-on-tertiary-fixed-variant-dark-opacity-012: #673d001F;
  --md-sys-color-on-tertiary-fixed-variant-dark-opacity-016: #673d0029;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-error-dark-opacity-008: #ffb4ab14;
  --md-sys-color-error-dark-opacity-012: #ffb4ab1F;
  --md-sys-color-error-dark-opacity-016: #ffb4ab29;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-error-container-dark-opacity-008: #93000a14;
  --md-sys-color-error-container-dark-opacity-012: #93000a1F;
  --md-sys-color-error-container-dark-opacity-016: #93000a29;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-on-error-dark-opacity-008: #69000514;
  --md-sys-color-on-error-dark-opacity-012: #6900051F;
  --md-sys-color-on-error-dark-opacity-016: #69000529;
  --md-sys-color-on-error-container-dark: #ffdad6;
  --md-sys-color-on-error-container-dark-opacity-008: #ffdad614;
  --md-sys-color-on-error-container-dark-opacity-012: #ffdad61F;
  --md-sys-color-on-error-container-dark-opacity-016: #ffdad629;
  --md-sys-color-background-dark: #1e1b1e;
  --md-sys-color-background-dark-opacity-008: #1e1b1e14;
  --md-sys-color-background-dark-opacity-012: #1e1b1e1F;
  --md-sys-color-background-dark-opacity-016: #1e1b1e29;
  --md-sys-color-on-background-dark: #e8e0e5;
  --md-sys-color-on-background-dark-opacity-008: #e8e0e514;
  --md-sys-color-on-background-dark-opacity-012: #e8e0e51F;
  --md-sys-color-on-background-dark-opacity-016: #e8e0e529;
  --md-sys-color-outline-dark: #988e97;
  --md-sys-color-outline-dark-opacity-008: #988e9714;
  --md-sys-color-outline-dark-opacity-012: #988e971F;
  --md-sys-color-outline-dark-opacity-016: #988e9729;
  --md-sys-color-inverse-on-surface-dark: #1e1b1e;
  --md-sys-color-inverse-on-surface-dark-opacity-008: #1e1b1e14;
  --md-sys-color-inverse-on-surface-dark-opacity-012: #1e1b1e1F;
  --md-sys-color-inverse-on-surface-dark-opacity-016: #1e1b1e29;
  --md-sys-color-inverse-surface-dark: #e8e0e5;
  --md-sys-color-inverse-surface-dark-opacity-008: #e8e0e514;
  --md-sys-color-inverse-surface-dark-opacity-012: #e8e0e51F;
  --md-sys-color-inverse-surface-dark-opacity-016: #e8e0e529;
  --md-sys-color-inverse-primary-dark: #804893;
  --md-sys-color-inverse-primary-dark-opacity-008: #80489314;
  --md-sys-color-inverse-primary-dark-opacity-012: #8048931F;
  --md-sys-color-inverse-primary-dark-opacity-016: #80489329;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-shadow-dark-opacity-008: #00000014;
  --md-sys-color-shadow-dark-opacity-012: #0000001F;
  --md-sys-color-shadow-dark-opacity-016: #00000029;
  --md-sys-color-surface-tint-dark: #eeb1ff;
  --md-sys-color-surface-tint-dark-opacity-008: #eeb1ff14;
  --md-sys-color-surface-tint-dark-opacity-012: #eeb1ff1F;
  --md-sys-color-surface-tint-dark-opacity-016: #eeb1ff29;
  --md-sys-color-outline-variant-dark: #4c444d;
  --md-sys-color-outline-variant-dark-opacity-008: #4c444d14;
  --md-sys-color-outline-variant-dark-opacity-012: #4c444d1F;
  --md-sys-color-outline-variant-dark-opacity-016: #4c444d29;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-scrim-dark-opacity-008: #00000014;
  --md-sys-color-scrim-dark-opacity-012: #0000001F;
  --md-sys-color-scrim-dark-opacity-016: #00000029;
  --md-sys-color-surface-dark: #151216;
  --md-sys-color-surface-dark-opacity-008: #15121614;
  --md-sys-color-surface-dark-opacity-012: #1512161F;
  --md-sys-color-surface-dark-opacity-016: #15121629;
  --md-sys-color-on-surface-dark: #ccc4c9;
  --md-sys-color-on-surface-dark-opacity-008: #ccc4c914;
  --md-sys-color-on-surface-dark-opacity-012: #ccc4c91F;
  --md-sys-color-on-surface-dark-opacity-016: #ccc4c929;
  --md-sys-color-surface-variant-dark: #4c444d;
  --md-sys-color-surface-variant-dark-opacity-008: #4c444d14;
  --md-sys-color-surface-variant-dark-opacity-012: #4c444d1F;
  --md-sys-color-surface-variant-dark-opacity-016: #4c444d29;
  --md-sys-color-on-surface-variant-dark: #cfc3cd;
  --md-sys-color-on-surface-variant-dark-opacity-008: #cfc3cd14;
  --md-sys-color-on-surface-variant-dark-opacity-012: #cfc3cd1F;
  --md-sys-color-on-surface-variant-dark-opacity-016: #cfc3cd29;
  --md-sys-color-surface-container-highest-dark: #373437;
  --md-sys-color-surface-container-highest-dark-opacity-008: #37343714;
  --md-sys-color-surface-container-highest-dark-opacity-012: #3734371F;
  --md-sys-color-surface-container-highest-dark-opacity-016: #37343729;
  --md-sys-color-surface-container-high-dark: #2c292c;
  --md-sys-color-surface-container-high-dark-opacity-008: #2c292c14;
  --md-sys-color-surface-container-high-dark-opacity-012: #2c292c1F;
  --md-sys-color-surface-container-high-dark-opacity-016: #2c292c29;
  --md-sys-color-surface-container-dark: #221f22;
  --md-sys-color-surface-container-dark-opacity-008: #221f2214;
  --md-sys-color-surface-container-dark-opacity-012: #221f221F;
  --md-sys-color-surface-container-dark-opacity-016: #221f2229;
  --md-sys-color-surface-container-low-dark: #1e1b1e;
  --md-sys-color-surface-container-low-dark-opacity-008: #1e1b1e14;
  --md-sys-color-surface-container-low-dark-opacity-012: #1e1b1e1F;
  --md-sys-color-surface-container-low-dark-opacity-016: #1e1b1e29;
  --md-sys-color-surface-container-lowest-dark: #100d10;
  --md-sys-color-surface-container-lowest-dark-opacity-008: #100d1014;
  --md-sys-color-surface-container-lowest-dark-opacity-012: #100d101F;
  --md-sys-color-surface-container-lowest-dark-opacity-016: #100d1029;
  --md-sys-color-surface-dim-dark: #151216;
  --md-sys-color-surface-dim-dark-opacity-008: #15121614;
  --md-sys-color-surface-dim-dark-opacity-012: #1512161F;
  --md-sys-color-surface-dim-dark-opacity-016: #15121629;
  --md-sys-color-surface-bright-dark: #3c383b;
  --md-sys-color-surface-bright-dark-opacity-008: #3c383b14;
  --md-sys-color-surface-bright-dark-opacity-012: #3c383b1F;
  --md-sys-color-surface-bright-dark-opacity-016: #3c383b29;
}