:root {
  --md-source: #4e972d;
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #031200;
  --md-ref-palette-primary5: #031500;
  --md-ref-palette-primary6: #041800;
  --md-ref-palette-primary10: #062100;
  --md-ref-palette-primary12: #082600;
  --md-ref-palette-primary17: #0d3100;
  --md-ref-palette-primary20: #103900;
  --md-ref-palette-primary22: #123d00;
  --md-ref-palette-primary24: #144200;
  --md-ref-palette-primary25: #154500;
  --md-ref-palette-primary30: #1b5200;
  --md-ref-palette-primary35: #205f00;
  --md-ref-palette-primary40: #266d00;
  --md-ref-palette-primary50: #3f871e;
  --md-ref-palette-primary60: #58a237;
  --md-ref-palette-primary70: #72be4f;
  --md-ref-palette-primary80: #8cda67;
  --md-ref-palette-primary87: #9fee79;
  --md-ref-palette-primary90: #a7f780;
  --md-ref-palette-primary92: #adfd85;
  --md-ref-palette-primary94: #c0ff9f;
  --md-ref-palette-primary95: #cdffb0;
  --md-ref-palette-primary96: #d8ffc0;
  --md-ref-palette-primary98: #eeffde;
  --md-ref-palette-primary99: #f7ffec;
  --md-ref-palette-primary100: #ffffff;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #061103;
  --md-ref-palette-secondary5: #091404;
  --md-ref-palette-secondary6: #0b1606;
  --md-ref-palette-secondary10: #131f0d;
  --md-ref-palette-secondary12: #172311;
  --md-ref-palette-secondary17: #212d1b;
  --md-ref-palette-secondary20: #283421;
  --md-ref-palette-secondary22: #2c3825;
  --md-ref-palette-secondary24: #303d29;
  --md-ref-palette-secondary25: #323f2b;
  --md-ref-palette-secondary30: #3e4a36;
  --md-ref-palette-secondary35: #495641;
  --md-ref-palette-secondary40: #55624c;
  --md-ref-palette-secondary50: #6d7b64;
  --md-ref-palette-secondary60: #87957c;
  --md-ref-palette-secondary70: #a1b096;
  --md-ref-palette-secondary80: #bccbb0;
  --md-ref-palette-secondary87: #d0dfc3;
  --md-ref-palette-secondary90: #d8e7cb;
  --md-ref-palette-secondary92: #deedd0;
  --md-ref-palette-secondary94: #e4f3d6;
  --md-ref-palette-secondary95: #e7f6d9;
  --md-ref-palette-secondary96: #e9f9db;
  --md-ref-palette-secondary98: #effee1;
  --md-ref-palette-secondary99: #f7ffec;
  --md-ref-palette-secondary100: #ffffff;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #031200;
  --md-ref-palette-tertiary5: #041500;
  --md-ref-palette-tertiary6: #051700;
  --md-ref-palette-tertiary10: #082100;
  --md-ref-palette-tertiary12: #0b2500;
  --md-ref-palette-tertiary17: #103100;
  --md-ref-palette-tertiary20: #143800;
  --md-ref-palette-tertiary22: #163d00;
  --md-ref-palette-tertiary24: #184200;
  --md-ref-palette-tertiary25: #194500;
  --md-ref-palette-tertiary30: #205100;
  --md-ref-palette-tertiary35: #265e00;
  --md-ref-palette-tertiary40: #2c6c00;
  --md-ref-palette-tertiary50: #42861a;
  --md-ref-palette-tertiary60: #5ca134;
  --md-ref-palette-tertiary70: #75bd4c;
  --md-ref-palette-tertiary80: #8fda64;
  --md-ref-palette-tertiary87: #a2ee76;
  --md-ref-palette-tertiary90: #aaf77d;
  --md-ref-palette-tertiary92: #b0fc82;
  --md-ref-palette-tertiary94: #c1ff9b;
  --md-ref-palette-tertiary95: #ceffad;
  --md-ref-palette-tertiary96: #d9ffbe;
  --md-ref-palette-tertiary98: #eeffdd;
  --md-ref-palette-tertiary99: #f8ffec;
  --md-ref-palette-tertiary100: #ffffff;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0d0f0b;
  --md-ref-palette-neutral5: #10120e;
  --md-ref-palette-neutral6: #121410;
  --md-ref-palette-neutral10: #1a1c18;
  --md-ref-palette-neutral12: #1e201c;
  --md-ref-palette-neutral17: #292b26;
  --md-ref-palette-neutral20: #2f312d;
  --md-ref-palette-neutral22: #343531;
  --md-ref-palette-neutral24: #383a35;
  --md-ref-palette-neutral25: #3a3c37;
  --md-ref-palette-neutral30: #464743;
  --md-ref-palette-neutral35: #51534e;
  --md-ref-palette-neutral40: #5d5f5a;
  --md-ref-palette-neutral50: #767872;
  --md-ref-palette-neutral60: #90918b;
  --md-ref-palette-neutral70: #abaca5;
  --md-ref-palette-neutral80: #c6c7c0;
  --md-ref-palette-neutral87: #dadad4;
  --md-ref-palette-neutral90: #e3e3dc;
  --md-ref-palette-neutral92: #e8e9e2;
  --md-ref-palette-neutral94: #eeeee7;
  --md-ref-palette-neutral95: #f1f1ea;
  --md-ref-palette-neutral96: #f4f4ed;
  --md-ref-palette-neutral98: #fafaf3;
  --md-ref-palette-neutral99: #fdfdf6;
  --md-ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0b1008;
  --md-ref-palette-neutral-variant5: #0d120b;
  --md-ref-palette-neutral-variant6: #10150d;
  --md-ref-palette-neutral-variant10: #181d15;
  --md-ref-palette-neutral-variant12: #1c2119;
  --md-ref-palette-neutral-variant17: #262b23;
  --md-ref-palette-neutral-variant20: #2d3229;
  --md-ref-palette-neutral-variant22: #31362d;
  --md-ref-palette-neutral-variant24: #363b31;
  --md-ref-palette-neutral-variant25: #383d33;
  --md-ref-palette-neutral-variant30: #43483e;
  --md-ref-palette-neutral-variant35: #4f544a;
  --md-ref-palette-neutral-variant40: #5b6055;
  --md-ref-palette-neutral-variant50: #74796d;
  --md-ref-palette-neutral-variant60: #8d9286;
  --md-ref-palette-neutral-variant70: #a8ada0;
  --md-ref-palette-neutral-variant80: #c3c8bb;
  --md-ref-palette-neutral-variant87: #d7dcce;
  --md-ref-palette-neutral-variant90: #dfe4d7;
  --md-ref-palette-neutral-variant92: #e5eadc;
  --md-ref-palette-neutral-variant94: #ebf0e2;
  --md-ref-palette-neutral-variant95: #eef3e5;
  --md-ref-palette-neutral-variant96: #f1f5e7;
  --md-ref-palette-neutral-variant98: #f6fbed;
  --md-ref-palette-neutral-variant99: #f9fef0;
  --md-ref-palette-neutral-variant100: #ffffff;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error5: #2d0001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error25: #7e0007;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error35: #a80710;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error70: #ff897d;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error94: #ffe9e6;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error99: #fffbff;
  --md-ref-palette-error100: #ffffff;
  /* light */
  --md-sys-color-primary-light: #266d00;--md-sys-color-primary-light-opacity-008: #266d0014;
  --md-sys-color-primary-light-opacity-012: #266d001F;
  --md-sys-color-primary-light-opacity-016: #266d0029;
  --md-sys-color-on-primary-light: #ffffff;--md-sys-color-on-primary-light-opacity-008: #ffffff14;
  --md-sys-color-on-primary-light-opacity-012: #ffffff1F;
  --md-sys-color-on-primary-light-opacity-016: #ffffff29;
  --md-sys-color-primary-container-light: #a7f780;--md-sys-color-primary-container-light-opacity-008: #a7f78014;
  --md-sys-color-primary-container-light-opacity-012: #a7f7801F;
  --md-sys-color-primary-container-light-opacity-016: #a7f78029;
  --md-sys-color-on-primary-container-light: #062100;--md-sys-color-on-primary-container-light-opacity-008: #06210014;
  --md-sys-color-on-primary-container-light-opacity-012: #0621001F;
  --md-sys-color-on-primary-container-light-opacity-016: #06210029;
  --md-sys-color-primary-fixed-light: #a7f780;--md-sys-color-primary-fixed-light-opacity-008: #a7f78014;
  --md-sys-color-primary-fixed-light-opacity-012: #a7f7801F;
  --md-sys-color-primary-fixed-light-opacity-016: #a7f78029;
  --md-sys-color-on-primary-fixed-light: #062100;--md-sys-color-on-primary-fixed-light-opacity-008: #06210014;
  --md-sys-color-on-primary-fixed-light-opacity-012: #0621001F;
  --md-sys-color-on-primary-fixed-light-opacity-016: #06210029;
  --md-sys-color-primary-fixed-dim-light: #8cda67;--md-sys-color-primary-fixed-dim-light-opacity-008: #8cda6714;
  --md-sys-color-primary-fixed-dim-light-opacity-012: #8cda671F;
  --md-sys-color-primary-fixed-dim-light-opacity-016: #8cda6729;
  --md-sys-color-on-primary-fixed-variant-light: #1b5200;--md-sys-color-on-primary-fixed-variant-light-opacity-008: #1b520014;
  --md-sys-color-on-primary-fixed-variant-light-opacity-012: #1b52001F;
  --md-sys-color-on-primary-fixed-variant-light-opacity-016: #1b520029;
  --md-sys-color-secondary-light: #55624c;--md-sys-color-secondary-light-opacity-008: #55624c14;
  --md-sys-color-secondary-light-opacity-012: #55624c1F;
  --md-sys-color-secondary-light-opacity-016: #55624c29;
  --md-sys-color-on-secondary-light: #ffffff;--md-sys-color-on-secondary-light-opacity-008: #ffffff14;
  --md-sys-color-on-secondary-light-opacity-012: #ffffff1F;
  --md-sys-color-on-secondary-light-opacity-016: #ffffff29;
  --md-sys-color-secondary-container-light: #d8e7cb;--md-sys-color-secondary-container-light-opacity-008: #d8e7cb14;
  --md-sys-color-secondary-container-light-opacity-012: #d8e7cb1F;
  --md-sys-color-secondary-container-light-opacity-016: #d8e7cb29;
  --md-sys-color-on-secondary-container-light: #131f0d;--md-sys-color-on-secondary-container-light-opacity-008: #131f0d14;
  --md-sys-color-on-secondary-container-light-opacity-012: #131f0d1F;
  --md-sys-color-on-secondary-container-light-opacity-016: #131f0d29;
  --md-sys-color-secondary-fixed-light: #d8e7cb;--md-sys-color-secondary-fixed-light-opacity-008: #d8e7cb14;
  --md-sys-color-secondary-fixed-light-opacity-012: #d8e7cb1F;
  --md-sys-color-secondary-fixed-light-opacity-016: #d8e7cb29;
  --md-sys-color-on-secondary-fixed-light: #131f0d;--md-sys-color-on-secondary-fixed-light-opacity-008: #131f0d14;
  --md-sys-color-on-secondary-fixed-light-opacity-012: #131f0d1F;
  --md-sys-color-on-secondary-fixed-light-opacity-016: #131f0d29;
  --md-sys-color-secondary-fixed-dim-light: #bccbb0;--md-sys-color-secondary-fixed-dim-light-opacity-008: #bccbb014;
  --md-sys-color-secondary-fixed-dim-light-opacity-012: #bccbb01F;
  --md-sys-color-secondary-fixed-dim-light-opacity-016: #bccbb029;
  --md-sys-color-on-secondary-fixed-variant-light: #3e4a36;--md-sys-color-on-secondary-fixed-variant-light-opacity-008: #3e4a3614;
  --md-sys-color-on-secondary-fixed-variant-light-opacity-012: #3e4a361F;
  --md-sys-color-on-secondary-fixed-variant-light-opacity-016: #3e4a3629;
  --md-sys-color-tertiary-light: #2c6c00;--md-sys-color-tertiary-light-opacity-008: #2c6c0014;
  --md-sys-color-tertiary-light-opacity-012: #2c6c001F;
  --md-sys-color-tertiary-light-opacity-016: #2c6c0029;
  --md-sys-color-on-tertiary-light: #ffffff;--md-sys-color-on-tertiary-light-opacity-008: #ffffff14;
  --md-sys-color-on-tertiary-light-opacity-012: #ffffff1F;
  --md-sys-color-on-tertiary-light-opacity-016: #ffffff29;
  --md-sys-color-tertiary-container-light: #aaf77d;--md-sys-color-tertiary-container-light-opacity-008: #aaf77d14;
  --md-sys-color-tertiary-container-light-opacity-012: #aaf77d1F;
  --md-sys-color-tertiary-container-light-opacity-016: #aaf77d29;
  --md-sys-color-on-tertiary-container-light: #082100;--md-sys-color-on-tertiary-container-light-opacity-008: #08210014;
  --md-sys-color-on-tertiary-container-light-opacity-012: #0821001F;
  --md-sys-color-on-tertiary-container-light-opacity-016: #08210029;
  --md-sys-color-tertiary-fixed-light: #aaf77d;--md-sys-color-tertiary-fixed-light-opacity-008: #aaf77d14;
  --md-sys-color-tertiary-fixed-light-opacity-012: #aaf77d1F;
  --md-sys-color-tertiary-fixed-light-opacity-016: #aaf77d29;
  --md-sys-color-on-tertiary-fixed-light: #082100;--md-sys-color-on-tertiary-fixed-light-opacity-008: #08210014;
  --md-sys-color-on-tertiary-fixed-light-opacity-012: #0821001F;
  --md-sys-color-on-tertiary-fixed-light-opacity-016: #08210029;
  --md-sys-color-tertiary-fixed-dim-light: #8fda64;--md-sys-color-tertiary-fixed-dim-light-opacity-008: #8fda6414;
  --md-sys-color-tertiary-fixed-dim-light-opacity-012: #8fda641F;
  --md-sys-color-tertiary-fixed-dim-light-opacity-016: #8fda6429;
  --md-sys-color-on-tertiary-fixed-variant-light: #205100;--md-sys-color-on-tertiary-fixed-variant-light-opacity-008: #20510014;
  --md-sys-color-on-tertiary-fixed-variant-light-opacity-012: #2051001F;
  --md-sys-color-on-tertiary-fixed-variant-light-opacity-016: #20510029;
  --md-sys-color-error-light: #ba1a1a;--md-sys-color-error-light-opacity-008: #ba1a1a14;
  --md-sys-color-error-light-opacity-012: #ba1a1a1F;
  --md-sys-color-error-light-opacity-016: #ba1a1a29;
  --md-sys-color-error-container-light: #ffdad6;--md-sys-color-error-container-light-opacity-008: #ffdad614;
  --md-sys-color-error-container-light-opacity-012: #ffdad61F;
  --md-sys-color-error-container-light-opacity-016: #ffdad629;
  --md-sys-color-on-error-light: #ffffff;--md-sys-color-on-error-light-opacity-008: #ffffff14;
  --md-sys-color-on-error-light-opacity-012: #ffffff1F;
  --md-sys-color-on-error-light-opacity-016: #ffffff29;
  --md-sys-color-on-error-container-light: #410002;--md-sys-color-on-error-container-light-opacity-008: #41000214;
  --md-sys-color-on-error-container-light-opacity-012: #4100021F;
  --md-sys-color-on-error-container-light-opacity-016: #41000229;
  --md-sys-color-background-light: #fdfdf6;--md-sys-color-background-light-opacity-008: #fdfdf614;
  --md-sys-color-background-light-opacity-012: #fdfdf61F;
  --md-sys-color-background-light-opacity-016: #fdfdf629;
  --md-sys-color-on-background-light: #1a1c18;--md-sys-color-on-background-light-opacity-008: #1a1c1814;
  --md-sys-color-on-background-light-opacity-012: #1a1c181F;
  --md-sys-color-on-background-light-opacity-016: #1a1c1829;
  --md-sys-color-outline-light: #74796d;--md-sys-color-outline-light-opacity-008: #74796d14;
  --md-sys-color-outline-light-opacity-012: #74796d1F;
  --md-sys-color-outline-light-opacity-016: #74796d29;
  --md-sys-color-inverse-on-surface-light: #f1f1ea;--md-sys-color-inverse-on-surface-light-opacity-008: #f1f1ea14;
  --md-sys-color-inverse-on-surface-light-opacity-012: #f1f1ea1F;
  --md-sys-color-inverse-on-surface-light-opacity-016: #f1f1ea29;
  --md-sys-color-inverse-surface-light: #2f312d;--md-sys-color-inverse-surface-light-opacity-008: #2f312d14;
  --md-sys-color-inverse-surface-light-opacity-012: #2f312d1F;
  --md-sys-color-inverse-surface-light-opacity-016: #2f312d29;
  --md-sys-color-inverse-primary-light: #8cda67;--md-sys-color-inverse-primary-light-opacity-008: #8cda6714;
  --md-sys-color-inverse-primary-light-opacity-012: #8cda671F;
  --md-sys-color-inverse-primary-light-opacity-016: #8cda6729;
  --md-sys-color-shadow-light: #000000;--md-sys-color-shadow-light-opacity-008: #00000014;
  --md-sys-color-shadow-light-opacity-012: #0000001F;
  --md-sys-color-shadow-light-opacity-016: #00000029;
  --md-sys-color-surface-tint-light: #266d00;--md-sys-color-surface-tint-light-opacity-008: #266d0014;
  --md-sys-color-surface-tint-light-opacity-012: #266d001F;
  --md-sys-color-surface-tint-light-opacity-016: #266d0029;
  --md-sys-color-outline-variant-light: #c3c8bb;--md-sys-color-outline-variant-light-opacity-008: #c3c8bb14;
  --md-sys-color-outline-variant-light-opacity-012: #c3c8bb1F;
  --md-sys-color-outline-variant-light-opacity-016: #c3c8bb29;
  --md-sys-color-scrim-light: #000000;--md-sys-color-scrim-light-opacity-008: #00000014;
  --md-sys-color-scrim-light-opacity-012: #0000001F;
  --md-sys-color-scrim-light-opacity-016: #00000029;
  --md-sys-color-surface-light: #fafaf3;--md-sys-color-surface-light-opacity-008: #fafaf314;
  --md-sys-color-surface-light-opacity-012: #fafaf31F;
  --md-sys-color-surface-light-opacity-016: #fafaf329;
  --md-sys-color-on-surface-light: #1a1c18;--md-sys-color-on-surface-light-opacity-008: #1a1c1814;
  --md-sys-color-on-surface-light-opacity-012: #1a1c181F;
  --md-sys-color-on-surface-light-opacity-016: #1a1c1829;
  --md-sys-color-surface-variant-light: #dfe4d7;--md-sys-color-surface-variant-light-opacity-008: #dfe4d714;
  --md-sys-color-surface-variant-light-opacity-012: #dfe4d71F;
  --md-sys-color-surface-variant-light-opacity-016: #dfe4d729;
  --md-sys-color-on-surface-variant-light: #43483e;--md-sys-color-on-surface-variant-light-opacity-008: #43483e14;
  --md-sys-color-on-surface-variant-light-opacity-012: #43483e1F;
  --md-sys-color-on-surface-variant-light-opacity-016: #43483e29;
  --md-sys-color-surface-container-highest-light: #e3e3dc;--md-sys-color-surface-container-highest-light-opacity-008: #e3e3dc14;
  --md-sys-color-surface-container-highest-light-opacity-012: #e3e3dc1F;
  --md-sys-color-surface-container-highest-light-opacity-016: #e3e3dc29;
  --md-sys-color-surface-container-high-light: #e8e9e2;--md-sys-color-surface-container-high-light-opacity-008: #e8e9e214;
  --md-sys-color-surface-container-high-light-opacity-012: #e8e9e21F;
  --md-sys-color-surface-container-high-light-opacity-016: #e8e9e229;
  --md-sys-color-surface-container-light: #eeeee7;--md-sys-color-surface-container-light-opacity-008: #eeeee714;
  --md-sys-color-surface-container-light-opacity-012: #eeeee71F;
  --md-sys-color-surface-container-light-opacity-016: #eeeee729;
  --md-sys-color-surface-container-low-light: #f4f4ed;--md-sys-color-surface-container-low-light-opacity-008: #f4f4ed14;
  --md-sys-color-surface-container-low-light-opacity-012: #f4f4ed1F;
  --md-sys-color-surface-container-low-light-opacity-016: #f4f4ed29;
  --md-sys-color-surface-container-lowest-light: #ffffff;--md-sys-color-surface-container-lowest-light-opacity-008: #ffffff14;
  --md-sys-color-surface-container-lowest-light-opacity-012: #ffffff1F;
  --md-sys-color-surface-container-lowest-light-opacity-016: #ffffff29;
  --md-sys-color-surface-dim-light: #dadad4;--md-sys-color-surface-dim-light-opacity-008: #dadad414;
  --md-sys-color-surface-dim-light-opacity-012: #dadad41F;
  --md-sys-color-surface-dim-light-opacity-016: #dadad429;
  --md-sys-color-surface-bright-light: #fafaf3;--md-sys-color-surface-bright-light-opacity-008: #fafaf314;
  --md-sys-color-surface-bright-light-opacity-012: #fafaf31F;
  --md-sys-color-surface-bright-light-opacity-016: #fafaf329;
  /* dark */
  --md-sys-color-primary-dark: #8cda67;--md-sys-color-primary-dark-opacity-008: #8cda6714;
  --md-sys-color-primary-dark-opacity-012: #8cda671F;
  --md-sys-color-primary-dark-opacity-016: #8cda6729;
  --md-sys-color-on-primary-dark: #103900;--md-sys-color-on-primary-dark-opacity-008: #10390014;
  --md-sys-color-on-primary-dark-opacity-012: #1039001F;
  --md-sys-color-on-primary-dark-opacity-016: #10390029;
  --md-sys-color-primary-container-dark: #1b5200;--md-sys-color-primary-container-dark-opacity-008: #1b520014;
  --md-sys-color-primary-container-dark-opacity-012: #1b52001F;
  --md-sys-color-primary-container-dark-opacity-016: #1b520029;
  --md-sys-color-on-primary-container-dark: #a7f780;--md-sys-color-on-primary-container-dark-opacity-008: #a7f78014;
  --md-sys-color-on-primary-container-dark-opacity-012: #a7f7801F;
  --md-sys-color-on-primary-container-dark-opacity-016: #a7f78029;
  --md-sys-color-primary-fixed-dark: #a7f780;--md-sys-color-primary-fixed-dark-opacity-008: #a7f78014;
  --md-sys-color-primary-fixed-dark-opacity-012: #a7f7801F;
  --md-sys-color-primary-fixed-dark-opacity-016: #a7f78029;
  --md-sys-color-on-primary-fixed-dark: #062100;--md-sys-color-on-primary-fixed-dark-opacity-008: #06210014;
  --md-sys-color-on-primary-fixed-dark-opacity-012: #0621001F;
  --md-sys-color-on-primary-fixed-dark-opacity-016: #06210029;
  --md-sys-color-primary-fixed-dim-dark: #8cda67;--md-sys-color-primary-fixed-dim-dark-opacity-008: #8cda6714;
  --md-sys-color-primary-fixed-dim-dark-opacity-012: #8cda671F;
  --md-sys-color-primary-fixed-dim-dark-opacity-016: #8cda6729;
  --md-sys-color-on-primary-fixed-variant-dark: #1b5200;--md-sys-color-on-primary-fixed-variant-dark-opacity-008: #1b520014;
  --md-sys-color-on-primary-fixed-variant-dark-opacity-012: #1b52001F;
  --md-sys-color-on-primary-fixed-variant-dark-opacity-016: #1b520029;
  --md-sys-color-secondary-dark: #bccbb0;--md-sys-color-secondary-dark-opacity-008: #bccbb014;
  --md-sys-color-secondary-dark-opacity-012: #bccbb01F;
  --md-sys-color-secondary-dark-opacity-016: #bccbb029;
  --md-sys-color-on-secondary-dark: #283421;--md-sys-color-on-secondary-dark-opacity-008: #28342114;
  --md-sys-color-on-secondary-dark-opacity-012: #2834211F;
  --md-sys-color-on-secondary-dark-opacity-016: #28342129;
  --md-sys-color-secondary-container-dark: #3e4a36;--md-sys-color-secondary-container-dark-opacity-008: #3e4a3614;
  --md-sys-color-secondary-container-dark-opacity-012: #3e4a361F;
  --md-sys-color-secondary-container-dark-opacity-016: #3e4a3629;
  --md-sys-color-on-secondary-container-dark: #d8e7cb;--md-sys-color-on-secondary-container-dark-opacity-008: #d8e7cb14;
  --md-sys-color-on-secondary-container-dark-opacity-012: #d8e7cb1F;
  --md-sys-color-on-secondary-container-dark-opacity-016: #d8e7cb29;
  --md-sys-color-secondary-fixed-dark: #d8e7cb;--md-sys-color-secondary-fixed-dark-opacity-008: #d8e7cb14;
  --md-sys-color-secondary-fixed-dark-opacity-012: #d8e7cb1F;
  --md-sys-color-secondary-fixed-dark-opacity-016: #d8e7cb29;
  --md-sys-color-on-secondary-fixed-dark: #131f0d;--md-sys-color-on-secondary-fixed-dark-opacity-008: #131f0d14;
  --md-sys-color-on-secondary-fixed-dark-opacity-012: #131f0d1F;
  --md-sys-color-on-secondary-fixed-dark-opacity-016: #131f0d29;
  --md-sys-color-secondary-fixed-dim-dark: #bccbb0;--md-sys-color-secondary-fixed-dim-dark-opacity-008: #bccbb014;
  --md-sys-color-secondary-fixed-dim-dark-opacity-012: #bccbb01F;
  --md-sys-color-secondary-fixed-dim-dark-opacity-016: #bccbb029;
  --md-sys-color-on-secondary-fixed-variant-dark: #3e4a36;--md-sys-color-on-secondary-fixed-variant-dark-opacity-008: #3e4a3614;
  --md-sys-color-on-secondary-fixed-variant-dark-opacity-012: #3e4a361F;
  --md-sys-color-on-secondary-fixed-variant-dark-opacity-016: #3e4a3629;
  --md-sys-color-tertiary-dark: #8fda64;--md-sys-color-tertiary-dark-opacity-008: #8fda6414;
  --md-sys-color-tertiary-dark-opacity-012: #8fda641F;
  --md-sys-color-tertiary-dark-opacity-016: #8fda6429;
  --md-sys-color-on-tertiary-dark: #143800;--md-sys-color-on-tertiary-dark-opacity-008: #14380014;
  --md-sys-color-on-tertiary-dark-opacity-012: #1438001F;
  --md-sys-color-on-tertiary-dark-opacity-016: #14380029;
  --md-sys-color-tertiary-container-dark: #205100;--md-sys-color-tertiary-container-dark-opacity-008: #20510014;
  --md-sys-color-tertiary-container-dark-opacity-012: #2051001F;
  --md-sys-color-tertiary-container-dark-opacity-016: #20510029;
  --md-sys-color-on-tertiary-container-dark: #aaf77d;--md-sys-color-on-tertiary-container-dark-opacity-008: #aaf77d14;
  --md-sys-color-on-tertiary-container-dark-opacity-012: #aaf77d1F;
  --md-sys-color-on-tertiary-container-dark-opacity-016: #aaf77d29;
  --md-sys-color-tertiary-fixed-dark: #aaf77d;--md-sys-color-tertiary-fixed-dark-opacity-008: #aaf77d14;
  --md-sys-color-tertiary-fixed-dark-opacity-012: #aaf77d1F;
  --md-sys-color-tertiary-fixed-dark-opacity-016: #aaf77d29;
  --md-sys-color-on-tertiary-fixed-dark: #082100;--md-sys-color-on-tertiary-fixed-dark-opacity-008: #08210014;
  --md-sys-color-on-tertiary-fixed-dark-opacity-012: #0821001F;
  --md-sys-color-on-tertiary-fixed-dark-opacity-016: #08210029;
  --md-sys-color-tertiary-fixed-dim-dark: #8fda64;--md-sys-color-tertiary-fixed-dim-dark-opacity-008: #8fda6414;
  --md-sys-color-tertiary-fixed-dim-dark-opacity-012: #8fda641F;
  --md-sys-color-tertiary-fixed-dim-dark-opacity-016: #8fda6429;
  --md-sys-color-on-tertiary-fixed-variant-dark: #205100;--md-sys-color-on-tertiary-fixed-variant-dark-opacity-008: #20510014;
  --md-sys-color-on-tertiary-fixed-variant-dark-opacity-012: #2051001F;
  --md-sys-color-on-tertiary-fixed-variant-dark-opacity-016: #20510029;
  --md-sys-color-error-dark: #ffb4ab;--md-sys-color-error-dark-opacity-008: #ffb4ab14;
  --md-sys-color-error-dark-opacity-012: #ffb4ab1F;
  --md-sys-color-error-dark-opacity-016: #ffb4ab29;
  --md-sys-color-error-container-dark: #93000a;--md-sys-color-error-container-dark-opacity-008: #93000a14;
  --md-sys-color-error-container-dark-opacity-012: #93000a1F;
  --md-sys-color-error-container-dark-opacity-016: #93000a29;
  --md-sys-color-on-error-dark: #690005;--md-sys-color-on-error-dark-opacity-008: #69000514;
  --md-sys-color-on-error-dark-opacity-012: #6900051F;
  --md-sys-color-on-error-dark-opacity-016: #69000529;
  --md-sys-color-on-error-container-dark: #ffdad6;--md-sys-color-on-error-container-dark-opacity-008: #ffdad614;
  --md-sys-color-on-error-container-dark-opacity-012: #ffdad61F;
  --md-sys-color-on-error-container-dark-opacity-016: #ffdad629;
  --md-sys-color-background-dark: #1a1c18;--md-sys-color-background-dark-opacity-008: #1a1c1814;
  --md-sys-color-background-dark-opacity-012: #1a1c181F;
  --md-sys-color-background-dark-opacity-016: #1a1c1829;
  --md-sys-color-on-background-dark: #e3e3dc;--md-sys-color-on-background-dark-opacity-008: #e3e3dc14;
  --md-sys-color-on-background-dark-opacity-012: #e3e3dc1F;
  --md-sys-color-on-background-dark-opacity-016: #e3e3dc29;
  --md-sys-color-outline-dark: #8d9286;--md-sys-color-outline-dark-opacity-008: #8d928614;
  --md-sys-color-outline-dark-opacity-012: #8d92861F;
  --md-sys-color-outline-dark-opacity-016: #8d928629;
  --md-sys-color-inverse-on-surface-dark: #1a1c18;--md-sys-color-inverse-on-surface-dark-opacity-008: #1a1c1814;
  --md-sys-color-inverse-on-surface-dark-opacity-012: #1a1c181F;
  --md-sys-color-inverse-on-surface-dark-opacity-016: #1a1c1829;
  --md-sys-color-inverse-surface-dark: #e3e3dc;--md-sys-color-inverse-surface-dark-opacity-008: #e3e3dc14;
  --md-sys-color-inverse-surface-dark-opacity-012: #e3e3dc1F;
  --md-sys-color-inverse-surface-dark-opacity-016: #e3e3dc29;
  --md-sys-color-inverse-primary-dark: #266d00;--md-sys-color-inverse-primary-dark-opacity-008: #266d0014;
  --md-sys-color-inverse-primary-dark-opacity-012: #266d001F;
  --md-sys-color-inverse-primary-dark-opacity-016: #266d0029;
  --md-sys-color-shadow-dark: #000000;--md-sys-color-shadow-dark-opacity-008: #00000014;
  --md-sys-color-shadow-dark-opacity-012: #0000001F;
  --md-sys-color-shadow-dark-opacity-016: #00000029;
  --md-sys-color-surface-tint-dark: #8cda67;--md-sys-color-surface-tint-dark-opacity-008: #8cda6714;
  --md-sys-color-surface-tint-dark-opacity-012: #8cda671F;
  --md-sys-color-surface-tint-dark-opacity-016: #8cda6729;
  --md-sys-color-outline-variant-dark: #43483e;--md-sys-color-outline-variant-dark-opacity-008: #43483e14;
  --md-sys-color-outline-variant-dark-opacity-012: #43483e1F;
  --md-sys-color-outline-variant-dark-opacity-016: #43483e29;
  --md-sys-color-scrim-dark: #000000;--md-sys-color-scrim-dark-opacity-008: #00000014;
  --md-sys-color-scrim-dark-opacity-012: #0000001F;
  --md-sys-color-scrim-dark-opacity-016: #00000029;
  --md-sys-color-surface-dark: #121410;--md-sys-color-surface-dark-opacity-008: #12141014;
  --md-sys-color-surface-dark-opacity-012: #1214101F;
  --md-sys-color-surface-dark-opacity-016: #12141029;
  --md-sys-color-on-surface-dark: #c6c7c0;--md-sys-color-on-surface-dark-opacity-008: #c6c7c014;
  --md-sys-color-on-surface-dark-opacity-012: #c6c7c01F;
  --md-sys-color-on-surface-dark-opacity-016: #c6c7c029;
  --md-sys-color-surface-variant-dark: #43483e;--md-sys-color-surface-variant-dark-opacity-008: #43483e14;
  --md-sys-color-surface-variant-dark-opacity-012: #43483e1F;
  --md-sys-color-surface-variant-dark-opacity-016: #43483e29;
  --md-sys-color-on-surface-variant-dark: #c3c8bb;--md-sys-color-on-surface-variant-dark-opacity-008: #c3c8bb14;
  --md-sys-color-on-surface-variant-dark-opacity-012: #c3c8bb1F;
  --md-sys-color-on-surface-variant-dark-opacity-016: #c3c8bb29;
  --md-sys-color-surface-container-highest-dark: #343531;--md-sys-color-surface-container-highest-dark-opacity-008: #34353114;
  --md-sys-color-surface-container-highest-dark-opacity-012: #3435311F;
  --md-sys-color-surface-container-highest-dark-opacity-016: #34353129;
  --md-sys-color-surface-container-high-dark: #292b26;--md-sys-color-surface-container-high-dark-opacity-008: #292b2614;
  --md-sys-color-surface-container-high-dark-opacity-012: #292b261F;
  --md-sys-color-surface-container-high-dark-opacity-016: #292b2629;
  --md-sys-color-surface-container-dark: #1e201c;--md-sys-color-surface-container-dark-opacity-008: #1e201c14;
  --md-sys-color-surface-container-dark-opacity-012: #1e201c1F;
  --md-sys-color-surface-container-dark-opacity-016: #1e201c29;
  --md-sys-color-surface-container-low-dark: #1a1c18;--md-sys-color-surface-container-low-dark-opacity-008: #1a1c1814;
  --md-sys-color-surface-container-low-dark-opacity-012: #1a1c181F;
  --md-sys-color-surface-container-low-dark-opacity-016: #1a1c1829;
  --md-sys-color-surface-container-lowest-dark: #0d0f0b;--md-sys-color-surface-container-lowest-dark-opacity-008: #0d0f0b14;
  --md-sys-color-surface-container-lowest-dark-opacity-012: #0d0f0b1F;
  --md-sys-color-surface-container-lowest-dark-opacity-016: #0d0f0b29;
  --md-sys-color-surface-dim-dark: #121410;--md-sys-color-surface-dim-dark-opacity-008: #12141014;
  --md-sys-color-surface-dim-dark-opacity-012: #1214101F;
  --md-sys-color-surface-dim-dark-opacity-016: #12141029;
  --md-sys-color-surface-bright-dark: #383a35;--md-sys-color-surface-bright-dark-opacity-008: #383a3514;
  --md-sys-color-surface-bright-dark-opacity-012: #383a351F;
  --md-sys-color-surface-bright-dark-opacity-016: #383a3529;
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Poppins;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400px;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Poppins;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400px;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Poppins;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400px;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Poppins;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400px;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Poppins;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400px;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Poppins;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400px;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Poppins;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400px;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Poppins;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400px;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Poppins;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400px;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Poppins;
  --md-sys-typescale-label-large-font-family-style: Medium;
  --md-sys-typescale-label-large-font-weight: 500px;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Poppins;
  --md-sys-typescale-label-medium-font-family-style: Medium;
  --md-sys-typescale-label-medium-font-weight: 500px;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Poppins;
  --md-sys-typescale-label-small-font-family-style: Medium;
  --md-sys-typescale-label-small-font-weight: 500px;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Poppins;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400px;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Poppins;
  --md-sys-typescale-title-medium-font-family-style: Medium;
  --md-sys-typescale-title-medium-font-weight: 500px;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Poppins;
  --md-sys-typescale-title-small-font-family-style: Medium;
  --md-sys-typescale-title-small-font-weight: 500px;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}
