@import "../../../styles/uhg-style";

:host {
  @include flex-fill(column);
  height: 100%;
  background-image: url("../../../../assets/pictures/homepage.jpg");
  background-size: cover;
}

.title {
  @extend .display-large;
  color: var(--md-sys-color-on-surface);
  background: transparent;
  width: fit-content;
  margin: 50px auto 15px auto;
}
