// to delete when admin part is done
$font-12px-paragraph: normal normal normal 12px Montserrat;
$font-12px-title: normal normal bold 12px Poppins;
$font-15px-paragraph: normal normal normal 15px Montserrat;
$font-15px-title: normal normal bold 15px Poppins;
$font-18px-paragraph: normal normal normal 18px Montserrat;
$font-18px-title: normal normal bold 18px Poppins;
$font-20px-paragraph: normal normal normal 20px Montserrat;
$font-20px-title: normal normal bold 20px Poppins;
$font-25px-paragraph: normal normal normal 25px Montserrat;
$font-25px-title: normal normal bold 25px Poppins;
$font-30px-paragraph: normal normal normal 30px Montserrat;
$font-30px-title: normal normal bold 30px Poppins;
$font-35px-paragraph: normal normal normal 35px Montserrat;
$font-35px-title: normal normal bold 35px Poppins;
$font-50px-paragraph: normal normal normal 50px Montserrat;
$font-50px-title: normal normal bold 50px Poppins;